<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Socket Button</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script src="index.js"></script>
</head>
<body>
    <h1>The button has been pushed <span id="counter"></span> time(s).</h1>
    <p>Push the button to update or reset the count.</p>
    <button id="add">Socket Button</button>
    <button id="reset">Reset</button>
</body>
</html>